  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
  }
  input {
      padding: 20px;
  }

  #demo {
      font-size: 20px;
      background-color: rgb(224, 224, 224);
      color: rgb(70, 70, 70);
      font-family: serif;
      padding: 20px;

  }

  #demo ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
  }

   #demo ul li a{
    color: rgb(193, 111, 111);
    font-weight: bold;
  }

  .color {
      padding: 20px;
      width: 100px;
      height: 100px;
      background-color: orange;

  }