body{
    background-color: #eee;
}

.item-box-1{
    margin-top: 20px;
}

.item-box-1 .box{
    width: 100%;
    border-radius: 8px;
    background-color: white;
    padding: 16px;
}

.item-box-1 .box h1{
    font-size: 24px;
    font-weight: bold;
    color: darkblue;
}

.item-box-1 .box .item ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.item-box-1 .box .item ul li{
    width: 24%;
    height: 180px;
    /* background-color: #eee; */
    border-radius: 8px;
}

.item ul li a {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    
}

.item ul li a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;

}

.item ul li a span{
    display: block;
    height: 20%;
    width: 100%;
    text-align: center;
    padding-top: 8px;
}